.dot {
    width: 5px;
    height: 5px;
    background: black;
    border-radius: 100px;
}

.dashboard-image {
    max-width: 200px;
}

@media screen and (max-width: 768px) {
    .dashboard-image {
        max-width: none;
    }
}
