.dot {
    width: 5px;
    height: 5px;
    background: black;
    border-radius: 100px;
}

.dashboard-image {
    max-width: 180px;
}

.list-group-overflow {
    max-height: 1000px;
    margin-bottom: 10px;
    overflow:scroll;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.list-group-item:hover {
    background-color: #f6f6f6;
}

@media screen and (max-width: 768px) {
    .dashboard-image {
        max-width: none;
    }
}
