* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: white;
}

.primary-gradient {
    background-image: linear-gradient(45deg, #00B0FF, #00cafd);
    color: white;
}

.navbar-item-font {
    font-family: "Quicksand", sans-serif;
}

.navbar-underline {
    margin-top: -10px;
    height: 8px;
    background: #59ddff;
}

.title-name {
    font-size: 32px;
    font-family: "Quicksand", sans-serif;
}

.title-underline {
    margin-top: -15px;
    height: 8px;
    background-color: rgba(119, 158, 203, 0.5);
}

.footer {
    height: 450px;
    background-color: #2C2C2C;
}

.footer-left {
    width: 300px;
}

.footer div div {
    color: #D5D5D5;
}

.footer a {
    color: #D5D5D5;
}

.footer a:hover {
    text-decoration: none;
    color: #acacac;
}

.footer-title {
    font-family: "Quicksand", sans-serif;
    font-size: 64px;
}

.latest-image {
    max-width: 100%;
    max-height: 100%;
}

.article-width {
    max-width: 710px;
}

.article-cover-image {
    max-height: 680px;
}

.error_cover {
    background-color: #ffffff;
}

.error_sad_face {
    font-family: monospace;
    font-size: 150px;
}

.hero-card-navbar {
    background: linear-gradient(180deg, #FFFFFF -41.65%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0) 100%);
}

.hero-card {
    height: 100vh;
}

.hero-image {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;

    -webkit-filter: blur(5px);
    filter: blur(5px) saturate(125%);
}

.hero-card-text h1 {
    font-family: Quicksand, serif;
    font-size: 64px;
}

.hero-card-text h2 {
    font-family: Quicksand, serif;
    font-size: 32px;
}

@media screen and (max-width: 768px) {
    .hero-card-text h1 {
        font-size: 32px;
    }

    .hero-card-text h2 {
        font-size: 16px;
    }
}
