* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: white;
}

.primary-gradient {
    background-image: linear-gradient(45deg, #00B0FF, #00cafd);
    color: white;
}

.navbar-item-font {
    font-family: "Open Sans", sans-serif;
}

.navbar-underline {
    margin-top: -10px;
    height: 8px;
    background: #59ddff;
}

.article-body img {
    max-width: 100%;
    max-height: 100%;
}

.title-name {
    font-size: 32px;
    font-family: "Quicksand", sans-serif;
}

.title-underline {
    margin-top: -15px;
    height: 8px;
    background-color: rgba(119, 158, 203, 0.5);
}

.footer {
    height: 450px;
    background-color: #2C2C2C;
}

.footer-left {
    width: 300px;
}

.footer div div {
    color: #D5D5D5;
}

.footer a {
    color: #D5D5D5;
}

.footer a:hover {
    text-decoration: none;
    color: #acacac;
}

.footer-title {
    font-family: "Quicksand", sans-serif;
    font-size: 64px;
}

.latest-image {
    max-width: 100%;
    max-height: 100%;
}

.article-width {
    max-width: 710px;
}

.article-cover-image {
    max-height: 680px;
}

.error_cover {
    background-color: #ffffff;
}

.error_sad_face {
    font-family: monospace;
    font-size: 150px;
}

.hero-card-navbar {
    background: white;
}

.hero-card {
    height: 100vh;
}

.hero-image {
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
}

.hero-card-text h1 {
    font-family: Quicksand, serif;
    font-size: 64px;
}

.hero-card-text h2 {
    font-family: Quicksand, serif;
    font-size: 32px;
}

.grid-item a {
    /* Position relative applied by bootstrap */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility:hidden;
    opacity: 0;
    background: linear-gradient(180deg, #E6F4F1 -92.89%, rgba(230, 244, 241, 0) -92.87%, rgba(230, 244, 241, 0) -9.5%, #E6F4F1 100%);
    transition: opacity .4s, visibility .4s;
}

.grid-item:hover a {
    visibility: visible;
    opacity: 1;
}

.radius {
    border-radius: 75px;
}

.line {
    border-top: 1px solid gray;
}

/*tags*/
div label input {
    margin-right:100px;
}

#ck-button {
    margin:4px;
    overflow:auto;
    float:left;
}

#ck-button label span {
    text-align:center;
    display:block;
    border-radius: 100px;
    font-size: 16px;
    font-weight: lighter;
    background: #C3FFF8;
    box-shadow: 1px 3px 5px grey;
    padding: 10px;
}

#ck-button label input {
    position:absolute;
    top:-20px;
}

#ck-button input:hover + span {
    background-color: #d2f1f1;
}

#ck-button input:checked + span {
    background-color:#B9ECE6;
}

#ck-button input:checked:hover + span {
    background-color: #d2f1f1;
}


@media screen and (max-width: 768px) {
    .hero-card-text h1 {
        font-size: 32px;
    }

    .hero-card-text h2 {
        font-size: 16px;
    }
}
